#footer
{
    margin: 0 0 var(--gap30);
}

#footer .wrapper 
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--gap30);
}

@media(max-width:776px)
{
    #footer .wrapper 
    {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* gap: var(--gap30); */
    }
    
    #footer form 
    {
        order: 1;
        text-align: center;
    }
}

#footer label 
{
    display: block;
    margin: 0 0 var(--gap30);
}

#footer input 
{
    width: 100%;
    padding: var(--gap20);
    border: 1px solid var(--body-gray-bg);
    outline: none;
    font-family: inherit;
    color: var(--body-color);
    transition: border .5s;
}

#footer textarea
{
    width: 100%;
    padding: var(--gap20);
    height: 110px;
    resize: none;
    border: 1px solid var(--body-gray-bg);
    outline: none;
}

#footer input:focus,
#footer textarea:focus 
{
    border-color: var(--number)
}

#footer button
{
    cursor: pointer;

    display: inline-block;
    padding: var(--gap10) var(--gap30);
    transition: .5s;
    background: var(--orange);
    color: var(--body-bg);
    font-size: 18px;
    /* text-decoration: none; */
    outline: none;
    border: none;
}

#footer button:hover,
#footer button:focus
{
    background: var(--yellow);
}

.form-content
{
    text-align: right;
}

@media(max-width:776px)
{
    .form-content
    {
        order: 2;
        text-align: center;
    }    
}

.form-content p
{
    margin: 0 0 var(--gap30);
    font-size: 30px;
}

@media(max-width:776px)
{
    .form-content p
    {
        /* margin: 0 0 var(--gap30); */
        font-size: 22px;
    }    
}

.form-content a 
{
    color: var(--body-color);
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

/* mail */
.form-content a[href^='mailto']
{
    font-style: italic;
}

/* phone */
.form-content a[href^='tel']
{
    font-weight: 500;
}

.form-content a:hover,
.form-content a:focus
{
    transform: scale(1.05);
}

.form-content svg 
{
    width: 40px;
    height: 40px;
    fill: var(--body-color);
}

