#form 
{
    margin: 0 0 var(--gap30);
}

#form .wrapper 
{
    display: grid;
    
}

#form label 
{
    display: block;
    margin: 0 0 var(--gap30);
}

#form label input 
{
    width: 100%;
    padding: var(--gap20);
    border: 1px solid var(--body-gray-bg);
    outline: none;
    font-family: inherit;
    color: var(--body-color);
}

#form textarea
{
    width: 100%;
    padding: var(--gap20);
    height: 110px;
    resize: none;
    border: 1px solid var(--body-gray-bg);
    outline: none;
}

#form button
{
    cursor: pointer;

    display: inline-block;
    padding: var(--gap10) var(--gap30);
    transition: .5s;
    background: var(--orange);
    color: var(--body-bg);
    font-size: 18px;
    /* text-decoration: none; */
    outline: none;
    border: none;
}

#form button:hover,
#form button:focus
{
    background: var(--yellow);
}

.form-content
{
    text-align: right;
}

.form-content p
{
    margin: 0 0 var(--gap30);
    font-size: 30px;
}

.form-content a 
{
    color: var(--body-color);
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

/* mail */
.form-content a[href^='mailto']
{
    font-style: italic;
}

/* phone */
.form-content a[href^='tel']
{
    font-weight: 500;
}

.form-content a:hover,
.form-content a:focus
{
    transform: scale(1.05);
}

.form-content svg 
{
    width: 40px;
    height: 40px;
    fill: var(--body-color);
}