#news 
{
    padding: calc(var(--gap30)*2) 0;
    background: var(--body-gray-light-bg);
}

.news 
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap30);
    margin: 0 0 calc(var(--gap30)*3)
}